

  /* цвет основного текста #212121  */  
    /* вторичный цвет #757575 */
    /* H1 цвет #FFFFFF */
    /*цвет ссылок и кнопок rgba(0, 0, 0, 0.25)*/
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --banner-color:#FFFFFF;
    }
 
.page{
    /* background: #E5E5E5; */
    /* color: #757575; */
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
  
}
.page-header{
    border-bottom: 1px solid #ECECEC;  
}


h1,h2,h3,h4{
    font-family: Roboto;
}
.logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    rgba(0, 0, 0, 0.25);
    font-family: Raleway, cursive;
    line-height: 1.2;
    font-size: 26px;
    text-decoration: none;
    
}

.logo-web{
    color: #2196F3;
}
.logo-studios{
    color: #000000;
}
.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/* Site nav  contact-nav*/
.conteiner{
    width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
   
}
.container-flex {
    display: flex;
    justify-content: space-between;   
}
.header > .conteiner{
    display: flex;
    align-items: center;
}
.header{
    
    align-items: center;
    background-color: #FFFFFF;
}

.site-nav{
    display: flex;
    align-items: center;
}
 


.site-nav .item:not(:last-child){
    margin-right: 50px;   
}
.site-nav .link{ 
padding-top: 32px;
padding-bottom: 32px;

   color:#212121;
   font-family: inherit;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.07;
   letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: #2196F3;
}
.site-nav .link.current{
    color: #2196F3;
}

/*contact-nav*/
.contact-nav .item + .item{
    margin-left: 50px;
}


.contact-nav{
   display: flex;
   align-items: center;   
   justify-content: flex-end;
   margin: 0;
}

.contact-nav-link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #757575;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;   
}
.contact-nav-link:hover,
.contact-nav-link:focus{
    color: #2196F3;
}
.contact-nav-link:hover .icon-header,
.contact-nav-link:focus .icon-header{
    fill: #2196F3;
}
.contact-icon{
    display: flex;
}
.contact-icon .icon-header{
    margin-right: 10px;
}

/* div*/

.banner{
    text-align: center;
    background-color: #2F303A;
    text-transform: uppercase;
    padding: 200px 0 200px;
}
.banner.overlay{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        to top left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
     url("../img/hw4/Banner.jpg");
     background-color: #C4C4C4;
     border: 1px solid #000000;
}

.banner h1{
    padding: 20px;
    width: 696px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin: 0 auto 30px;
    text-align: center;;
}
.button-primacy{
    /* margin-bottom: 200px; */
    color :#FFFFFF;
    background-color: #2196F3; 
    font-family: inherit;
    font-size: 16px;
    line-height: 1.875;
    text-decoration: none;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    margin: 0 auto;
    display: inline-block;

}

.conteiner-section{
   display: flex; 
   justify-content: space-between;
   padding-left: 0;
   padding-right: 0;
   margin-top: 50;
   margin-right: 0;
   margin-left: 0;
  
}

.conteiner-section .item:not(:last-child){
  margin-right: 30px; 
}

.section-gallery,
.section-profession {
 
    padding-bottom: 94px;
}
.header-profession{
    margin-top: 0px;
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}
.conteiner-profession{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
   
}

.conteiner-profession .item{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.conteiner-profession .item:not(:last-child){
    margin-right: 30px;
}

.section-header{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: Center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.profession-title{
    color: var( --primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: Center;
    margin-top: 0;
}
.social-icons{
    padding: 16px 32px 30px 32px;    
}
.profession-icons{
    display: flex;

}
.profession-icons .item-icon{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-position: center; 
    border-radius: 50px; 
    
}
.profession-icons .icon{
    display: flex;
    fill: #E5E5E5;
   
}
.item-icon .icon{
    padding: 12px;
}
.profession-icons .item-icon:not(:last-child){
    margin-right: 10px;
    }
.item-icon:hover,
.item-icon:focus{
    background-color: #2196F3; 
    color: #FFFFFF;  
}  

/* PORTFOLIO BODY*/
.portfolio-list{
    padding-top: 50px;
    padding-bottom: 85px;
    padding-left: 0;
}
.list.portfolio{
    display: flex;
    flex-wrap: wrap;
     margin-top: 0px;
    margin-bottom: -30px;
    margin-right: -15px;
    margin-left: -15px;
}
.list.portfolio .item{
    background: #FFFFFF;
    /* border: 1px solid #EEEEEE; */
    box-sizing: border-box;  
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 30px;
    border: 1px solid rgba(238,238,238,1) 
}
.list.portfolio > .item:hover,
.list.portfolio > .item:focus{
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-header{
    color: #212121;
    Font-size: 18px;
    line-height:2; 
   margin: 0px;
}
.portfolio-title{
    color: var( --primary-text-color);
    font-size: 16px;
    line-height: 1.875;
    margin-top: 3px;
    margin-bottom: 0;
}
.desk{
    padding: 21px 24px 20px 24px;   
}
   /* feature */
   .feature-list .info{
        padding-top: 30px;
   }
   .section-feature-list{
    padding-top: 94px;
    padding-bottom: 94px;
   }
.feature-list{
    display: flex;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.feature-list .item {  
width: 270px;
margin-left: 0;
margin-right: 0;
}

.feature-list .item:not(:last-child) {
    margin-right: 30px;
}

.feature-list .title{
    margin-top: 0;
    margin-bottom: 10px;
    color: #212121; 
    font-style: Bold; 
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;  
}
.attention{
    display:flex;
    align-items: center;
    justify-content: center;

}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    background-color: #F5F4FA;
    border-radius: 4px;  
    background-position: center;
    
   
}
.clock{
    display: flex;
    color: #2196F3;
    color: #212121;
}
.attention-icon{
    fill: #212121;
   }

   .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;

   }
   .icon:hover,
   .icon:focus{
       color: #2196F3;
       color: #FFFFFF;
   }

.section-title{
    margin-top: 0;
  font-size: 14px;
  line-height: 1.7;
}

/*button*/
.section-button{
    padding-top: 94px;
}

.button-list .button:hover,
.button-list .button:focus{
    color :#FFFFFF;
    background-color: #2196F3; 
    font-family: inherit;
    font-size: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50;
 margin-top: o auto;
}
.button-list .item:not(:last-child){
margin-right: 8px;
}
.button-list .item{}
    
.button-list .button{
padding: 6px 22px 6px 22px;
font-weight: 500;
/* font-size: 16px; */
line-height: 26px;
border: none;
background-color: #F5F4FA;
border-radius: 4px;

text-align: center;
letter-spacing: 0.03em;
}
/* clients-icon */
.conteiner-clients{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.client-post{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.clients{
   margin-top: 50px;
}
.clients-section{
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
    justify-content: space-between;
   
}

.icon-client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: rgba(175, 177, 184, 1);
}
.icon-client > .svg-icon{
    display: block;
}

.icon-client:hover,
.icon-client:focus{
    fill: rgba(33,150,243,1);
}
.clients-icon:hover,
.clients-icon:focus{
    fill: rgba(33,150,243,1); 
    border: 1px solid rgba(33,150,243,1);  
}


.clients-icon:not(:last-child){
    margin-right: 30px;
}




/* footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;  
}
.footer .logo{
    margin-left: 0;
  
    font-family: Raleway,cursive;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.conteiner-logo{
    margin-bottom: 20px;
}
.footer .logo-web{
    color: #2196F3;
}
.footer .logo-studios{
  color: #FFFFFF;
}
.footer .aside{
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-elements{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.list-footer .item:not(:last-child){
    margin-bottom: 9px;}

.footer-mix{
    display: flex;
}
.footer .text{
    margin: 0;
    padding-bottom: 20px;  
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

.social-icons .icon-item:not(:last-child){
    margin-right: 10px;
}


.icon-item{
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to top left,
        rgba(225, 225, 225, 10%),
        rgba(225, 225, 225, 10%)
    );
 
    width: 44px;
    height: 44px;
    border-radius: 50px;
}
.icon-item:hover,
.icon-item:focus{
    background-color: #2196F3;
}
.icons-footer .icon-item{
    display: inline-block;
    background-position: center;
    padding: 12px;
}
.icon-item .page{
    fill: #FFFFFF;   
}
.footer-mix .row-footer-2 {
    padding-top: 12px;
    padding-left: 70px;
}  
  
    