

  /* цвет основного текста #212121  */  
    /* вторичный цвет #757575 */
    /* H1 цвет #FFFFFF */
    /*цвет ссылок и кнопок rgba(0, 0, 0, 0.25)*/
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --banner-color:#FFFFFF;
    }
.page{
    background: #E5E5E5;
    color: #757575;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
h1,h2,h3,h4{
    font-family: Roboto;
}
.logo{
    rgba(0, 0, 0, 0.25);
    font-family: Raleway, cursive;
    line-height: 1.2;
    font-size: 26px;
    text-decoration: none;
}

.logo-web{
    color: #2196F3;
}
.logo-studios{
    color: #000000;
}
.list{
    list-style: none;
}
/* Site nav */
header{
    background-color: #FFFFFF;
}
.site-nav .link{ 
   color:#212121;
   font-family: inherit;
   font-weight: 500;
   font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: #2196F3;
}
.site-nav .link.current{
    color: #2196F3;
}
/*contact-nav*/
.contact-nav{
    color: #757575;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    text-decoration: none;
}
.contact-nav:hover,
.contact-nav:focus{
    color: #2196F3;
}

/* div*/
.banner{
    background-color: #2F303A;
    text-align: center;
}
.banner h1{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}

/* section-information */
.section-title{
  color: #757575; 
  font-size: 14px;
  line-height: 1.7;

}
.section-header{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: Center;
}
.section-profession{
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
    text-align: Center;
}
.profession-title{
    color: var( --primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: Center;
}

/* PORTFOLIO BODY*/
.portfolio-header{
    color: #212121;
    Font-size: 18px;
    line-height:2;  
}
.portfolio-title{
    color: var( --primary-text-color);
    font-size: 16px;
    line-height: 1.875;
}
   /* feature */
.feature-list{
    background-color: #E5E5E5;
}
.feature-list .title{
    color: #212121; 
    font-style: Bold; 
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
/*button*/
.button-primacy{
    color :#FFFFFF;
    background-color: #2196F3; 
    font-family: inherit;
    font-size: 16px;
    line-height: 1.875;
    text-decoration: none;
}
.button-list .button:hover,
.button-list .button:focus{
    color :#FFFFFF;
    background-color: #2196F3; 
    font-family: inherit;
    font-size: 16px;
    line-height: 1.625; 
}
/* footer */
.footer{
    background-color: #2F303A;  
}
.footer .logo{
    font-family: Raleway,cursive;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.footer .logo-web{
    color: #2196F3;
}
.footer .logo-studios{
  color: #FFFFFF;
}
.footer .aside{
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-elements{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}








  
  
    