    .banner {
        text-align      : center;
        background-color: #2F303A;
        text-transform  : uppercase;
        padding         : 200px 0 200px;

        &.overlay {
            height      : 600px;
            max-width   : 1600px;
            margin-left : auto;
            margin-right: auto;

            background-repeat     : no-repeat;
            background-size       : cover;
            background-position   : center;
            // background-image   : linear-gradient(to top left,
            //         rgba(47, 48, 58, 0.4),
            //         rgba(47, 48, 58, 0.4)),
            //     url("../img/hw4/Banner.jpg");
            background-color      : #C4C4C4;

            border: 1px solid $color-logo;
        }

        //--------------стилизация картинки__________//
        img {
            display  : block;
            height   : auto;
            max-width: 100%;
        }

        //--------------------------------------------//

        h1 {
            padding       : 20px;
            width         : 696px;
            color         : $background-color;
            font-weight   : 900;
            font-size     : 44px;
            line-height   : 1.36;
            text-transform: uppercase;
            margin        : 0 auto 30px;
            text-align    : center;
            ;
        }
    }



    .button-primacy {

        color           : $background-color;
        background-color: $accent-color;
        font-family     : inherit;
        font-weight     : bold;
        font-size       : 16px;
        line-height     : 1.875;
        text-decoration : none;
        padding         : 10px 32px;
        min-width       : 200px;
        border-radius   : 4px;
        margin          : 0 auto;
        display         : inline-block;
        box-shadow      : 0px 4px 4px $box-shedow;


    }