.form-footer {

    padding-top: 60px;
    text-align : center;

    @media screen and (min-width:1200px) {
        padding        : 0;
        display        : inline-block;
        text-align     : inherit;
        //  margin-left: 93px;
    }

    & h3 {
        margin-bottom : 20px;
        font-style    : normal;
        font-weight   : bold;
        font-size     : 14px;
        line-height   : 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $background-color;

        @media screen and (min-width:1200px) {
            margin-top: 10px;
        }
    }

    & input {
        width           : 100%;
        height          : 50px;
        margin-bottom   : 20px;
        border          : 1px solid rgba(255, 255, 255, 0.3);
        box-sizing      : border-box;
        filter          : drop-shadow(0px 4px 4px $box-shedow);
        border-radius   : 4px;
        background-color: $footer-background;

        @media screen and (min-width:1200px) {
            margin-right : 12px;
            margin-bottom: 0;
            width        : 358px;
            height       : 50px;
        }


    }
}


.form-footer-button {
    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    margin         : 0;
    padding        : 0;
    width          : 200px;
    height         : 50px;
    color          : $background-color;

    background-color   : $accent-color;
    background-position: center;
    background-origin  : content-box;
    border             : none;
    box-shadow         : 0px 4px 4px $box-shedow;
    border-radius      : 4px;
}

.footer-button-svg {
    fill         : $background-color;
    margin-left  : 10px;
    margin-top   : 13px;
    margin-bottom: 13px;
}

.email-footer {

    //  display   : block;
    //  text-align: center;
    @media screen and (min-width:768px) {
        padding-left : 166px;
        padding-right: 152px;
    }


    @media screen and (min-width:1200px) {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 0;
    }


    input {
        padding-left: 16px;
        color       : rgba(255, 255, 255, 0.6);
        outline     : none;
    }
}