
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$background-color: #FFFFFF;
$box-shedow: rgba(0, 0, 0, 0.15);
$main-font-family: Roboto, sans-serif;
$color-logo: #000000;
$footer-background: #2F303A
